<!doctype html>
<html ng-app="InteropApp">
	<head>
		<meta charset="utf8">
		<title>Angular</title>
		<link rel="stylesheet" href="../css/style.css">
		<script src="../lib/webcomponents.js"></script>
		<script src="js/main.js" defer></script>
	</head>
	<body>
		<h1>Angular</h1>
		<button is="bell-button"></button>
		<input type="text" ng-model="yourName" value="sole" placeholder="Enter a name here">
		<h1>Hello {{yourName}}!</h1>
		<div ng-controller="InteropController">
			<p>going to render {{squares.length}} squares</p>
			<span ng-repeat="square in squares">
				<!--NOTWORKING even if you don't expect the loop to run because squares.length is 0, the element will be created anyway, and removed from the DOM it seems-->
				<random-square width="{{square.width}}" height="{{square.height}}"></random-square>
			</span>
			<!--NOTWORKING HTML code will be escaped so you can't 'innerHTML'style create markup in the controller-->
			<span ng-repeat="bell in bellbuttons">
				{{bell}}
			</span>
		</div>
		<div>
			<!--NOTWORKING I would expect the binding to read the initial values from the inputs and assign them to the square but it doesn't.-->
			<p>Changing attributes of custom element using the dynamic binding magic thing:</p>
			<label>Width: <input type="text" ng-model="squareWidth" value="50"></label>
			<label>Height: <input type="text" ng-model="squareHeight" value="50"></label>
			<random-square width="{{squareWidth}}" height="{{squareHeight}}"></random-square>
		</div>
	</body>
</html>
